.dashboard {
  width: 70%;
  height: 85%;
  max-height: 670px;
  max-width: 1137px;
  border-radius: 36px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 992px) {
  .dashboard {
    height: auto;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dashboard::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 768px) {
  .dashboard {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
